@import '~antd/dist/antd.css';

.h-screen {
  height: 100vh;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}