@import '~antd/dist/antd.css';

.h-screen {
  height: 100vh;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #001529;
}

.bg-orange {
  background: #f15a22;
}

.uppercase {
  text-transform: uppercase;
}

.font-bold{
  font-weight: 700;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.p-0 {
  padding: 0;
}

.pt-10{
  padding-top:10px;
}
.pt-20{
  padding-top:20px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.flex {
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}	

.flex-wrap{
  flex-wrap: wrap;
}	

.w-full{
  width: 100%;
}	

.h-full{
  height:100%;
}

.items-center {
  align-items: center;
}

.items-end{
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-self-end{
  	justify-self: end;
}


/* OVERRIDES */
#nav-drawer .ant-drawer-body {
  background-color: #001529 !important;
  padding: 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  position: relative;
  padding: 12px 16px;
  padding-left: 40px;
  color: white;
  line-height: 1.5715;
  cursor: pointer;
  -webkit-transition: all 0.3s, visibility 0s;
  transition: all 0.3s, visibility 0s;
}



.text-right{
  text-align: right;
}	

.max-w-screen-sm{
  max-width: 640px;
}



.object-contain{
  object-fit: contain;
}	