@import '~antd/dist/antd.css';

.h-screen {
  height: 100vh;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #001529;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.p-0 {
  padding: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.ml-20{
  margin-left: 5rem;
}

.ml-68{
  margin-left: 17rem;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 auto;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.object-right {
  object-position: right;
}

/* OVERRIDES */
#nav-drawer .ant-drawer-body {
  background-color: #001529 !important;
  padding: 0;
}